<!DOCTYPE html>
<html>

<head>
	<title>local_server</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/neon.css') }}">

	<style>
		.textmain
		{
			text-align: center
		}
		a
		{
			text-decoration: none;
		}
	</style>

</head>

<body bgcolor="black">

	<div class="textmain">
		<h3 style="color: #999999" id="code">--><span>LOGIN SUCCESS</span><--</h3>
		<h3 style="color: #999999" id="code">--><span>GO TO MAIN PAGE</span><--<a href="main"><span>/main</span></a></h3>
	</div>

</body>

</html>
